body {
  margin: 0;
  background-color: #ecf0f1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-clock span {
  display: flex;
  color: white;
  font-size: 100px;
  justify-content: center;
}
.js-clock .js-date {
  font-size: 40px;
}

.clicked {
  color: #7f8c8d;
}

.js-form span {
  display: block;
  text-align: center;
}
.js-toDoForm input,
.js-form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin-top: 10px;
  text-align: center;
}
.js-form input {
  font-size: 20px;
}
.js-form input::placeholder,
.js-toDoForm input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.js-form input:focus {
  outline: none;
}

.form,
.greetings,
.afterName {
  display: none;
}

.showing {
  display: block;
  font-size: 30px;
  margin: 20px 0px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 1s ease-in-out;
}
.info {
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: 10px;
  padding: 20px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.js-toDoForm span {
  display: block;
  font-size: 20px;
}

.js-toDoForm input:focus {
  outline: none;
}
.toDo-showing {
  display: block;
  font-size: 30px;
  margin: 20px 0px;
}
.js-weather {
  color: white;
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.js-toDoList li {
  list-style-type: none;
  font-size: 20px;
}
.js-toDoList button {
  color: white;
  font-size: large;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  outline: none;
}
